* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.modal-bg {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.5s;
  transition: visibility 0s, opacity 0.5s;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  max-width: 80%;
  background-color: white;
  border: 5px solid #ffea00;
  -webkit-box-shadow: 0px 0px 0px 4px white;
  box-shadow: 0px 0px 0px 4px white;
}

.modal h2 {
  text-align: center;
  margin: 20px;
}

.modal-close {
  width: 150px;
  padding: 10px;
  margin: 10px;
  border: none;
  cursor: pointer;
  color: white;
  background: #001b96;
}

.modal-close:hover {
  background: red;
}

html, body {
  height: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  background: #001b96;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 20px;
  background: #ffea00;
  text-shadow: 1px 1px 1px black;
  font-weight: 900;
}

.nav .logo-menu {
  background-image: url("/imagens/LOGO OFICIAL ATUALIZADA.png");
  width: 100px;
  height: 100px;
  background-size: 100% 100%;
}

.nav-desktop ul li {
  display: inline-block;
  padding-left: 20px;
}

.nav-desktop ul li a {
  text-decoration: none;
  padding: 20px 0;
  color: white;
}

.nav-desktop ul li:hover {
  -webkit-transition: 0,5s;
  transition: 0,5s;
}

/*.nav-mobile{
    position: relative;
    display: none;
    text-align: center;
}

.nav-mobile ul{
    display: none;
    margin: 0 auto;
    position: absolute;
    top: 50px;
}

.nav-mobile ul li{
    
    list-style-type: none;
    padding: 5px 0;
}

.nav-mobile ul li a{
    text-decoration: none;
}

/*.nav-mobile ul li a:hover{
    font-size: 20px;
    transition: 0,3s;
}*/
.section1 {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.section1 h2 {
  text-align: center;
  margin: 40px 0;
  font-size: 30px;
}

.section1 .slider {
  position: relative;
  width: 90%;
  max-width: 500px;
  height: 400px;
}

.section1 .slider img {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 800ms;
  transition: opacity 800ms;
}

.section1 .slider .selected {
  opacity: 1;
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.section2 h2 {
  text-align: center;
  font-size: 30px;
}

.section2 .areas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.section2 .ml {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  /*background: #777;*/
}

.section2 .ml .ml-logo {
  background-image: url("/imagens/mercadolivrelogo.jpg");
  width: 100px;
  height: 100px;
  background-size: 100% 100%;
  margin: 20px;
}

.section2 .ml .ml-reputation {
  background-image: url("/imagens/reputacao.PNG");
  max-width: 90%;
  width: 500px;
  height: 500px;
  background-size: 100% 100%;
}

.section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.section3 h2 {
  font-size: 30px;
}

.section3 .benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin: 40px 0;
}

.section3 .benefits span {
  font-family: 'Rowdies', cursive;
  font-size: 20px;
  color: #ffff00;
}

.section3 .benefits p {
  width: 50%;
  margin-top: 10px;
  line-height: 30px;
  color: white;
}

.section3 .benefits .benefits-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 20px;
}

.section3 .benefits .post-time-icon {
  background-image: url("/imagens/clock.png");
  width: 100px;
  height: 100px;
  background-size: 100% 100%;
  margin: 30px;
}

.section3 .benefits .safety-icon {
  background-image: url("/imagens/box.png");
  width: 100px;
  height: 100px;
  background-size: 100% 100%;
  margin: 30px;
}

.section3 .benefits .support-icon {
  background-image: url("/imagens/support.png");
  width: 100px;
  height: 100px;
  background-size: 100% 100%;
  margin: 30px;
}

.section4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #ffea00;
}

.section4 h3 {
  text-align: center;
  padding-top: 20px;
}

.section4 .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 20px;
}

.section4 .form input {
  width: 500px;
  margin: 10px;
  padding: 10px;
}

.section4 .form textarea {
  width: 500px;
  padding: 10px;
  margin: 10px;
  resize: none;
}

.section4 .form button {
  width: 100px;
  padding: 10px;
  margin: 10px;
  border: none;
  cursor: pointer;
  color: white;
  background: #001b96;
}

.section4 .form button:hover {
  background: red;
}

.section4 h1 {
  margin: 20px;
}

.section4 .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  margin: 20px;
}

.section4 .contacts .whatsapp-logo {
  background-image: url("/imagens/whatsapp.png");
  width: 80px;
  height: 80px;
  background-size: 100% 100%;
}

.section4 .contacts .email-logo {
  background-image: url("/imagens/gmail.png");
  width: 80px;
  height: 80px;
  background-size: 100% 100%;
  cursor: pointer;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 10px 0;
  background: #001b96;
}

footer span {
  font-size: 15px;
  font-style: italic;
}

@media (max-width: 800px) {
  .modal {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 500px;
    max-width: 80%;
  }
}

@media (max-width: 600px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav .logo-menu {
    margin-bottom: 10px;
  }
  .nav-desktop ul li {
    display: block;
    text-align: center;
    padding: 10px 0;
  }
  .nav-desktop ul li a {
    padding: 20px;
  }
  .section3 .benefits p {
    width: 100%;
  }
  .section4 .form input {
    width: 300px;
  }
  .section4 .form textarea {
    width: 300px;
  }
}

@media (max-width: 400px) {
  .section3 .benefits {
    width: 90%;
  }
  .section4 .form input {
    width: 200px;
  }
  .section4 .form textarea {
    width: 200px;
  }
}
/*# sourceMappingURL=style.css.map */