
@import "colors";
@import "defaults";
@import "modal";


html,body{
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    background: $corPrimaria;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 20px;
    background: $corSecundaria;
}

.nav .logo-menu{
    background-image: url('/imagens/LOGO\ OFICIAL\ ATUALIZADA.png');
    width: 100px;
    height: 100px;
    background-size: 100% 100%;
}

.nav-desktop ul li{
    display: inline-block;
    padding-left: 20px;
    a{
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        padding: 20px 10px;
        color: rgba(51,51,51,.6);
    }
    a:hover{
        color: white;
        transition: 0,5s;
    }

}


@mixin titles {
    text-align: center;   
    font-size: 60px;
    color: white;
}

.section1{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    h2{
        margin: 40px 0;
        @include titles;
    }
}


.section1 .slider{
    position: relative;
    width: 90%;
    max-width: 500px;
    height: 400px;
    img{
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        transition: opacity 800ms;
    }
    .selected{
        opacity: 1;
    }
}



.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    h2{
        @include titles;
    }
}



.section2 .areas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section2 .ml{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /*background: #777;*/
}

.section2 .ml .ml-logo{
    background-image: url('/imagens/mercadolivrelogo.jpg');
    width: 100px;
    height: 100px;
    background-size: 100% 100%;
    margin: 20px;
}

.section2 .ml .ml-reputation{
    background-image: url('/imagens/reputacao.PNG');
    max-width: 90%;
    width: 500px;
    height: 500px;
    background-size: 100% 100%;
}




.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    h2{
        @include titles;
    }
}


@mixin sub-titles {
    font-family: 'Rowdies', cursive;
    font-size: 40px;
}


.section3 .benefits{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 70%;
     margin: 40px 0;
     span{
        @include sub-titles;
        color: #ffff00;
    }
    p{
        width: 50%;
        font-size: 25px;
        margin-top: 10px;
        line-height: 30px;
       
    }
    h2{
        margin-bottom: 80px;
    }
}

.section3 .benefits .benefits-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.section3 .benefits .post-time-icon{
    background-image: url('/imagens/clock.png');
    width: 100px;
    height: 100px;
    background-size: 100% 100%;
    margin: 30px;
}

.section3 .benefits .safety-icon{
    background-image: url('/imagens/box.png');
    width: 100px;
    height: 100px;
    background-size: 100% 100%;
    margin: 30px;
}

.section3 .benefits .support-icon{
    background-image: url('/imagens/support.png');
    width: 100px;
    height: 100px;
    background-size: 100% 100%;
    margin: 30px;
}
 
.section4{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: $corSecundaria;
    h3{
        @include sub-titles;
        text-align: center;
        padding-top: 20px;
    }
}

@mixin inputs {
    font-size: 15px;
    font-style: italic;
    width: 500px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.section4 .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}

.section4 .form input{
    @include inputs;
}

.section4 .form textarea{
    @include inputs;
    resize: none;
}

.section4 .form button{
    width: 100px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background: $corPrimaria; 
    &:hover{
        background: red;
    }
}


@mixin social-medias {
    width: 80px;
    height: 80px;
    background-size: 100% 100%;
    transform: scale(0.6);
    transition: 0.5s;
}

.section4 .contacts{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 20px;
    .whatsapp-logo{
        background-image: url('/imagens/whatsapp.png');
        @include social-medias;
    }
    :hover{
        transform: scale(1);
    }
    .email-logo{
        background-image: url("/imagens/gmail.png");
        @include social-medias;
    }
    :hover{
        transform: scale(1);
    }
}

footer{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    background: $corPrimaria;
    span{
        font-size: 15px;
        font-style: italic;
    }
    :hover{
        color: white;
        transition: 0.5s;
    }
}


@media(max-width: 800px){
    .modal{
        justify-content: center;
        width: 500px;
        max-width: 80%;
        height: 300px;
        font-size: 10px;
    }
}


@media(max-width: 600px){

    .nav{
        display: flex;
        flex-direction: column;
    }

    .nav .logo-menu{
        margin-bottom: 10px;
    }

    .nav-desktop ul li{
        display: block;
        text-align: center;
        padding: 10px 0;
    }

    .nav-desktop ul li a{
        padding: 20px;
    }

    .section3 .benefits  p{
        width: 100%;
    }
    
    .section4 .form input{
        width: 300px;
    }
    
    .section4 .form textarea{
        width: 300px;
    }

}


@media(max-width: 400px){

    .section3 .benefits{
        width: 90%;
   }
    
    .section4 .form{
        input{
        width: 200px;
        }
        textarea{
            width: 200px;
        }
    }
}   
  




  

